deskew {{ rawdata }}  {{ deskewed_output }} YourParametersWillGoHere
deconvolution {{ deskewed_output }} {{ deconvolved_output }} YourParametersWillGoHere
photoBleachCorrection {{ deskewed_output }} {{ photobleach_output }} YourParametersWillGoHere